* {
    box-sizing: border-box;
}

body {
    background-color: #f4f4f4;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    color: black
}

a {
    color: rgb(59, 22, 194);
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 60px 0 60px 0;
}

@media (max-width:1200px) {

    .container {
        width: 870px;
    }
}

@media (max-width:869px) {

    .container {
        width: 600px;
    }
}

@media (max-width:599px) {

    .container {
        width: 400px;
    }
    .main.cards-holder {
        justify-content: center;
    }
}

.row {
    display: flex;
    justify-content: space-between;
}

.main {
    width: 870px;
}

/* Кнопка Бургер - переключатель сайдбара для мобильной версии */

.toggle-sidebar {
    display: none;
    position: fixed;
    right: 15px;
    top: 5px;
    border: none;
    cursor: pointer;
    z-index: 10;
}

@media (max-width: 869px) {

    .toggle-sidebar {
        display: block;
    }
}

 /* Бургер иконка  */

 .menu-icon-wrapper {
    width: 60px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}
    
.menu-icon {
  position: relative;
  width: 30px;
  height: 5px;
  background-color: #3c3c3c;
}

.menu-icon::before {
  position: absolute;
  left: 0;
  top: -10px;
  content: '';
  width: 30px;
  height: 5px;
  background-color: #3c3c3c;
  transition: transform 0.2s ease-in, top 0.2s linear 0.2s;

}

.menu-icon::after {
  position: absolute;
  left: 0;
  top: 10px;
  content: '';
  width: 30px;
  height: 5px;
  background-color: #3c3c3c;
  transition: transform 0.2s ease-in, top 0.2s linear 0.2s;

}

.menu-icon.menu-icon-active {
  background-color: transparent;
}

.menu-icon.menu-icon-active::before {
  transform: rotate(45deg);
  top: 0;
  transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
}

.menu-icon.menu-icon-active::after {
  transform: rotate(-45deg);
  top: 0;
  transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
}


/* --Сайдбар-- */

.sidebar {
    width: 270px;
}

@media (max-width: 869px) {

    .sidebar {
        position: fixed;
        margin-left: 0 !important;
        top: 0;
        right: 0;
        background-color: white;
        padding: 15px;
        box-shadow: 0px 0px 20px rgba(0 0 0 / 37%);
        bottom: 0;
        overflow-y: scroll;
        transform: translateX(150%);
    }

    .sidebar--mobile-active {
        transform: translateX(0%);
    }
}

.main + .sidebar {
    margin-left: 30px;
}


/* --Карточки товаров-- */

.cards-holder {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.cards-holder > .card-link {
    margin-bottom: 30px;
}

a.card-link {
    display: inline-block;
    text-decoration: none;
    transition: opacity, transform 0.2s ease-in;
    border-radius: 4px;
}

a.card-link:hover {
    opacity: 0.9;
    transform: translateY(-15px);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.card {
    position: relative;
    width: 270px;
    background-color: white;
    color: black;
 }

 img {
    display: block;
}

 /* Бэйджи */

 .card__badges {
    position: absolute;
    display: flex;
    top: 10px;
    left: 15px;
    right: 15px;
 }

 .card__badge--class {
     background-color: #ffcf26;
 }
 .card__badge--credit {
     background-color: #11be75;
 }

 .card__badges > * + * {
     margin-left: 10px;
 }

.card__badge {
    display: inline-block;
    height: 22px;
    padding: 0 10px;
    border-radius: 4px;
    font-size: 14px;
    line-height: 22px;
}

/* Контент карточек */

.card__content {
    padding:  15px 15px 20px;
 }

.card__title {
    margin: 0;
    margin-bottom: 15px;
    font-weight: bold;
    font-size: 18px;
    line-height: 1.16px;
    color: #000000;
}

.card__term {
    font-size: 14px;
    line-height: 1.14;
    margin-bottom: 10px;
}

.card__metro {
    font-size: 14px;
    line-height: 1.14;
    color: black;
    margin-bottom: 10px;
}

.card__metro::before {
    content: "";
    margin-right: 10px;
    display: inline-block;
    vertical-align: baseline;
    width: 16px;
    height: 11px;
    background-image: url('./../img/icons/metro.svg');
    background-size: initial;
}

.card_address {
    font-size: 14px;
    line-height: 1.14;
    color: #777777;
}

/* Скрытые карточки */

.card-link--hidden {
    display: none !important;
}

/* Кнопка - Показать еще карточки */
.btn-more {
    display: grid;
    cursor: pointer;
    width: 100%;
    height: 80px;
    background-color: #e5e5e5;
    border: none;
    border-radius: 4px;
    padding-top: 14px;
    text-align: center;
    font-size: 18px;
    line-height: 21px;
    color: #4290c9;
    transition: background-color 0.2s ease-in;
}

.btn-more:hover {
    background-color: #d8d6d6;
}

/* иконка */
i.material-icons.expand_more {
     font-size: 36px;
     margin-right: 10px;
}

/* --Виджеты-- */

.widget +.widget {
    margin-top: 30px;
}

.widget__title {
    position: relative;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
    cursor: pointer;
}

.widget__title::after {
    content: "";
    width: 20px;
    height: 20px;
    position: absolute;
    right: 0;
    top: 0;
    background-image: url('./../img/icons/row.svg');
    background-repeat: no-repeat;
    background-size: initial;
    background-position: center;
}

/* -- Виджет показать/скрыть-- */

/* перевернуть стрелку заголовка видждета */
.widget__title--active::after {
    transform: rotate(180deg);
}

/* скрыть содержимое виджета */
.widget__body--hidden {
    display: none;
}

/* --Виджет Близость к метро-- */

.location {
    display: inline-block;
    width: 100%;
}

.location_row {
    display: flex;
}

.location_row:first-child {
    border-radius: 4px 4px 0 0;
    overflow: hidden;
    border: 1px solid lightgray;
    border-bottom: none;
}

.location_row:last-child {
    border-radius: 0 0 4px 4px;
    overflow: hidden;
    border: 1px solid lightgray;
}

.location__btn {
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    padding: 15px;
    width: 100%;
    cursor: pointer;
    /* transition: background-color 0.2s ease-in; */
    
}

/* чекбоксы Близость к метро */

.location-checkbox {
    width: 1px;
    height: 1px;
    position: absolute;
    opacity: 0;
    appearance: none;
}

.location__btn:hover {
    background-color: #ffefb7;
}

.location-checkbox:checked + .location__btn {
    background-color: #ffcf26;
}

.location-checkbox:checked + .location__btn:hover {
    background-color: #eeca46;
}

/* чекбоксы - Срок сдачи */

.term-radio {
    display: block;
    margin-bottom: 15px;
}

.term-radio__real {
    display: none;
}

.term-radio__real:checked + .term-radio__fake{
    background-color: #ffe074;
}

.term-radio__real:checked + .term-radio__fake::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    width: 6px;
    height: 6px;
    background-color: #3c3c3c;
    transform: translate(-50%, -50%);
}

.term-radio__fake {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: #fff;
    border: 1px solid #777777;
    border-radius: 50%;
    margin-right: 10px;
    vertical-align:middle;
}

.term-radio__title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    color: #3c3c3c;
}

.term-radio__real:checked ~ .term-radio__title {
    font-weight: bold;
}

/* чекбоксы Доп. опции */

.options-checkbox {
    display: block;
    margin-bottom: 15px;
}

.options-checkbox + .options-checkbox {
    margin-top: 15px;
}

.options-checkbox__real {
    display: none;
}

.options-checkbox__fake {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color:transparent;
    border: 1px solid #777777;
    border-radius: 2px;
    margin-right: 10px;
    vertical-align:middle;
}

.options-checkbox__real:checked + .options-checkbox__fake {
    background-color: #ffe074;
}

.options-checkbox__real:checked + .options-checkbox__fake::before {
    position: absolute;
    top: 50%;
    left: 50%;
    content: "";
    width: 18px;
    height: 18px;
    background-image: url('./../img/icons/done-black-24dp.svg');
    background-position: center;
    background-size: initial;
    transform: translate(-50%,-50%);
}

.options-checkbox__title {
    font-size: 16px;
    font-weight:500;
    color: #3c3c3c;
}

.options-checkbox__real:checked ~ span.options-checkbox__title {
    font-weight:bold;
}

/* Ссылка - Показать доп. опции */

.option-link-more {
    display: block;
    margin-bottom: 30px;
    color: #4290C9;
    font-size: 16px;
    border: none;
    background: none;
    cursor: pointer;
}

/*  Показать ещё 3 опции - событие*/
.checkbox--hidden {
    display: none;
}
.option-link-more:active, .option-link-more:focus {
    outline: none;
}

/* кнопка-переключатель - Услуги */

.btn-servis-toggle{
    margin-bottom: 30px;
}

.btn-servis-toggle {
    content: "";
    width: 37px;
    height: 20px;
    border-radius: 20%;
}

.toggle_real {
   display: none;
}

.toggle_real:checked + .toggle__fake {
    background-color: #ffe074;
}

.toggle_real:checked + .toggle__fake::before {
    left: 19px;
}

.toggle__fake {
    position: relative;
    display: inline-block;
    width: 37px;
    height: 20px;
    background-color: #c4c4c4;
    border-radius: 10px;
    vertical-align: bottom;
    cursor: pointer;
}

.toggle__fake::before {
    position: absolute;
    content: "";
    top: 2px;
    left: 2px;
    width: 16px;
    height: 16px;
    background-color: #3c3c3c;
    border-radius: 50%;
    transition: all 0.2s ease-in;
}

.toggle__title {
    font-size: 16px;
    font-weight: 400;
}

/* кнопка - Применить фильтры */
.btn-filters {
    width: 100%;
    height: 50px;
    background: #ffcf26;
    border: 1px solid #d6d6d6;
    border-radius: 4px;
    margin: 10px 0 10px 0;
    cursor: pointer;
}

.btn-filters:hover {
    background-color: #eeca46;
}
/* Сбросить фильтры */
.btn-filters.clear{
    background: none;
    margin-top: 0;
}

.btn-filters.clear:hover{
    background-color: #ffefb7;
}

i.material-icons.icon-close {
    vertical-align: middle;
}

.btn-filters-title {
    font-size: 16px;
    font-weight: 500;
}


